.searchBox {
    input {
        padding: 8px 0;
        border: none;
        border-bottom: 1px solid white;
        margin: 20px 0;
        outline: none;
        width: 100%;
        background: transparent;
        color: white;
        font-size: 15px;


        &::placeholder {
            color: #aaa;
            letter-spacing: .2px;
        }
    }
}