.sideNav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 280px;
    height: 100vh;
    padding: 2vw 3vw 0 2vw;
    background-color: #232526;
    color: #f0f0f0;;

    .logo {
    display: flex;
    justify-content: center;

        h1 {
            font-size: 34px;
            letter-spacing: .2px;
        }

        img {
            height: 120px;
            opacity: .95;
        }
    }
}